<div class="container-pizzaria">
    <div class="card text-center shadow card-pizzaria">
        <div class="card-body p-5">
            <i class="bi bi-pizza display-1 text-pizzaria-red mb-4"></i>

            <h1 class="card-title h3 fw-bold">Painel do Chef</h1>
            <p class="card-text text-muted">
                Gestão de pedidos, ingredientes e tudo para sua pizzaria decolar!
            </p>
        </div>
    </div>
</div>
